body {
	background: url("../../images/logo-cadastro-usuario.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.usuario-form {
	margin-top: 40vh;
	padding: 20px 30px;
	background-color: rgba(0, 0, 0, .9);
	color: #FFF;
	transform: translateY(-50%);
}
.pb-field-required > .control-label:after {
	content: "*";
}



