<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout1"
      xmlns:pibetting="">
<head>

    <link rel="stylesheet" th:href="@{/layout/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/layout/css/cadastro_usuario.css}">

</head>
<body>

<div class="login-form col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" layout:fragment="conteudo">
    <header>
        <div class="row text-center">
            <img class="img-responsive text-center" style="margin-left: auto; margin-right: auto; padding-left: auto; padding-right: auto;" th:src="@{/images/logoG.png}">
        </div>
    </header>
    <hr>

    <form method="POST" th:object="${usuario}" th:action="@{/usuario/email/confirmPassword}">

        <div class="alert alert-danger" role="alert" th:if="${not #strings.isEmpty(mensagemErro)}">
            <button type="button" class="close" data-dismiss="alert" ><span aria-hidden="true">&times;</span></button>
            <span th:text="${mensagemErro}"></span>
        </div>

        <div class="alert alert-success" role="alert" th:if="${not #strings.isEmpty(mensagemSucesso)}">
            <button type="button" class="close" data-dismiss="alert" ><span aria-hidden="true">&times;</span></button>
            <span th:text="${mensagemSucesso}"></span>
        </div>

        <h4 class="text-center"><strong>Informe a nova senha</strong></h4>

        <input type="hidden" th:value="${usuario.id}" th:field="*{id}">

        <div class="form-group pb-field-required" pibetting:classforerror="senha">
            <label class="control-label">Informe a senha:</label>
            <input type="password" class="form-control" th:field="*{senha}">
        </div>

        <div class="form-group pb-field-required" pibetting:classforerror="confirmacaoSenha">
            <label class="control-label">Confirme a senha:</label>
            <input type="password" class="form-control" th:field="*{confirmacaoSenha}">
        </div>

        <footer>
            <div class="form-group">
                <button type="submit" class="btn btn-primary pull-right">Atualizar</button>
            </div>
        </footer>


    </form>


</div>

</body>
</html>