<!DOCTYPE html>

<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout2">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/layout/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/layout/css/perfil.css}">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oswald:wght@700&display=swap" rel="stylesheet">
</head>

<body>

<div class="container" layout:fragment="conteudo">

    <div class="row mb-60">
        <div class="col-md-12">
                <span class="topico">
                    Perfil
                </span>
        </div>
    </div>

    <div class="section">
        <div class="row">

            <div class="col-md-12 mt-30">
                <span class="info">Email:</span>
                <span class="info" th:text="${usuario.email}"></span>
            </div>

        </div>
        <div class="row">

            <div class="col-md-12 mt-30">
                <span class="info">Nome Completo:</span>
                <span class="info" th:text="${usuario.nome}"></span>
            </div>

        </div>
        <div class="row">

            <div class="col-md-12 mt-30">
                <span class="info">Nacionalidade:</span>
                <span class="info" th:text="${usuario.nacionalidade.nomePortugues}"></span>
            </div>

        </div>
        <div class="row">

            <div class="col-md-12 mt-30">
                <span class="info" th:text="|Plano: ${descricaoPlano}|"></span>
            </div>

        </div>

        <div class="row" th:if="${usuario.acessoVip}">
            <div class="col-md-12 mt-30">
                <span class="info" th:text="|Data de término do plano: ${dataTerminoPlano}|"></span>
            </div>
        </div>

       <!-- <div class="row mt-30">
            <div class="col-md-12 text-center">
                <a href="" class="btn btn-danger btn-lg">Cancelar a qualquer momento</a>
            </div>
        </div> -->
    </div>

</div>

</body>

</html>