<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Bets4you - Consultoria</title>
  
  <link rel="stylesheet" th:href="@{/layout/css/barra_navegacao.css}">
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/images/favicons/apple-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/images/favicons/apple-icon-60x60.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/favicons/apple-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/images/favicons/apple-icon-76x76.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/images/favicons/apple-icon-114x114.png}">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/images/favicons/apple-icon-120x120.png}">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/images/favicons/apple-icon-144x144.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/images/favicons/apple-icon-152x152.png}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/images/favicons/apple-icon-180x180.png}">
    <link rel="icon" type="image/png" sizes="192x192"  th:href="@{/images/favicons/android-icon-192x192.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/images/favicons/favicon-96x96.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicons/favicon-16x16.png}">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#101010">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#101010">
    <script src="https://kit.fontawesome.com/df0b61cc0c.js"></script>
  
</head>

<body>
	
  <input type="hidden" name="_csrf" th:value="${_csrf.token}"/> <!-- aula 19.9 -->
  <input type="hidden" name="_csrf_header" th:value="${_csrf.headerName}"/>	<!-- aula 19.9 -->
	
  <div th:replace="layout/fragments/BarraNavegacao2 :: barra_navegacao"></div>
  
  <div layout:fragment="conteudo">
  </div>

    <a id="whatsapp-bubble" href="https://wa.me/5584998372941" style=" position:fixed;width:60px;height:60px;bottom:40px;right:40px;background-color:#25d366;color:#FFF;border-radius:50px;text-align:center;font-size:30px;box-shadow: 1px 1px 2px #888;
        z-index:1000;" target="_blank">
        <i style="margin-top:16px" class="fab fa-whatsapp"></i>
    </a>
	
	<script th:src="@{/layout/js/jquery-2.2.4.min.js}"></script>
  	<script th:src="@{/layout/js/bootstrap.min.js}"></script>
  	<script th:src="@{/javascripts/vendors/jquery.maskMoney.min.js}"></script>
  	
  	<th:block layout:fragment="javascript-extra"></th:block>
  	
</body>	

</html>