<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	  xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout2">
<head>
	
  	<link rel="stylesheet" th:href="@{/layout/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/layout/css/planos.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>

	<div class = "container" layout:fragment="conteudo">
		<div class="row">

			<div th:each="plano : ${planos}" class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-body text-center">
						<div class="row" th:if="${plano.renovacaoAutomatica}">
							<span class="label label-default">RENOVAÇÃO AUTOMÁTICA</span>
						</div>
						<div class="row">
							<span class="label label-warning" th:text="|${plano.descricao} (${plano.duracao})|"></span>
						</div>
						<div class = "row pricingCurrency">
							<h1 class="titulo-preco">
								<strong th:text="|R$ ${plano.valor}|"></strong>
							</h1>
						</div>
						<div class = "row">
							<strong>por mês</strong>
						</div>
						<div class = "row mt-25">
							<span class="label label-danger" th:text="|${plano.desconto}% de desconto|"></span>
						</div>
						<div class = "mt-25 row">
							<del class="text-danger">R$ 1000.00</del>
							<span>650.00</span>
						</div>
						<div class = "row mt-25">
							<button class="btn btn-primary botao-plano" type="submit" data:plano ="${plano.id}" data:usuario="${usuario.id}">QUERO SER VIP!</button>
						</div>

						<div th:if="${plano.renovacaoAutomatica}" class = "row mt-25">
							<span style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;color: #101010">Cancele seu plano a qualquer momento.</span>
						</div>
					</div>
				</div>
			</div>

		  </div>

		  <div class = "row">
		  	<div class="col-md-12 text-justify mt-25">
		  		<ul class="list-group">
				  <li class="list-group-item list-group-item-success"><h4>Acesso a todas as apostas gratis!</h4></li>
				  <li class="list-group-item list-group-item-success"><h4>Acesso a todas as apostas VIP!</h4></li>
				  <li class="list-group-item list-group-item-success"><h4>Acesso ao nosso grupo para apostas no ao vivo!</h4></li>
				  <li class="list-group-item list-group-item-success"><h4>Suporte 24h disponível via redes sociais!</h4></li>
				</ul>
		  	</div>
		  </div>

		</div>

	<th:block layout:fragment="javascript-extra">

		<script type="text/javascript" src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
		<script th:src="@{/javascripts/pagseguro.js}"></script>
	</th:block>

</body>
</html>