<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:data="http://www.thymeleaf.org/extras/data"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout2">
<head>

    <link rel="stylesheet" th:href="@{/layout/css/bootstrap.min.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <script src="https://kit.fontawesome.com/df0b61cc0c.js"></script>
</head>
<body>

    <!--
	<th:block layout:fragment="javascript-extra">
		<script type="text/javascript" src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
		<script th:src="@{/javascripts/pagseguro.js}"></script>
	</th:block>
	-->
</body>
</html>