<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout2"
	xmlns:bets4you="">
	
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" th:href="@{/layout/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/layout/css/cadastro_aposta.css}">

</head>
<body>

	<div class="container" layout:fragment="conteudo">
		
		<div class="alert  alert-danger  hidden  js-mensagem-cadastro-jogo text-center" role="alert"></div>
				
			<div class="row col-md-12">
				
				<div class = "col-md-4 form-group pb-field-required">
					<label for="nacionalidadeMandante" class="control-label">Nacionalidade do time mandante</label>
					<select id="nacionalidadeMandante" class="form-control js-nacionalidade-mandante">
						<option value="">Nacionalidade do time mandante</option>
						<option th:each="pais : ${paises}" th:value="${pais.id}" th:text="${pais.nomePortugues}"></option>
					</select>
				</div>	
					
				<div class="col-md-4 form-group pb-field-required">
					<label for="nacionalidadeVisitante" class="control-label">Nacionalidade do time visitante</label>
					<select id="nacionalidadeVisitante" class="form-control js-nacionalidade-visitante">
						<option value="">Nacionalidade do time visitante</option>
						<option th:each="pais : ${paises}" th:value="${pais.id}" th:text="${pais.nomePortugues}"></option>
					</select>
				</div>
				
				<div class="col-md-4 form-group pb-field-required">
					<label for="sugestao" class="control-label">Sugestão para o jogo:</label>
					<input type="text" class="form-control" id="sugestao">
				</div>
				
	
			</div>			
				
			<div class="row col-md-12">
				<div class = "col-md-4 form-group pb-field-required">
					<label for="mandante" class="control-label">Selecione o time mandante</label>
						<select id="mandante" class="form-control">
							<option value="">Selecione o mandante</option>
						</select>
				</div>	
					
				<div class="col-md-4 form-group pb-field-required">
					<label for="visitante" class="control-label">Selecione o time visitante</label>
					<select id="visitante" class="form-control">
						<option value="">Selecione o visitante</option>
					</select>		
				</div>
				
				<div class="col-md-4 form-group pb-field-required">
					<label for="oddJogo" class="control-label">Odd:</label>
					<input type="text" class="form-control js-decimal" id="oddJogo">
				</div>
	
				
			</div>	
		
			<div class="row text-center">
				<div class="col-md-12">
					<button type="button" class="btn btn-primary js-btn-adicionar-jogo mt-20">Adicionar jogo ao bilhete</button>
				</div>
			</div>
			
			<hr>
		
		<form method="POST" th:object="${aposta}" th:action="@{/aposta/novo}">
			
		<bets4you:message/>
			
			<div class="row">
				<div class ="col-md-12" bets4you:classforerror="descricaoAposta">
						<div class="form-group text-center pb-field-required">
							<label for="tituloAposta" class="control-label">Informe a(s) liga(s) da aposta</label>
							<input type="text" class="form-control" id="tituloAposta" th:field="*{descricaoAposta}">
						</div>
			
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-3 form-group pb-field-required">
					<label for="modulo" class="control-label">Módulo</label>
					<select id="modulo" class="form-control" th:field="*{modulo}">
						<option value="VIP">VIP</option>
						<option value="GRATIS">GRATIS</option>
					</select>		
				</div>
				
				<div class="col-md-3 pb-field-required" bets4you:classforerror="confianca">
					<label for="confianca" class="control-label">Confiança</label>
					<select id="confianca" class="form-control" th:field="*{confianca}">
						<option value=""></option>
						<option value="1.0">1.0</option>
						<option value="1.5">1.5</option>
						<option value="2.0">2.0</option>
						<option value="2.5">2.5</option>
						<option value="3.0">3.0</option>
					</select>
				</div>
				
				<div class="col-md-3 pb-field-required" bets4you:classforerror="qtdJogos">
					<label for="quantidade-jogos" class="control-label">Quantidade de Jogos:</label>
					<input type="text" class="form-control js-integer" id="qtdJogos" th:field="*{qtdJogos}" readonly>
				</div>
				
				<div class="col-md-3 pb-field-required" bets4you:classforerror="odd">
					<label for="odd-aposta" class="control-label">Odd da aposta:</label>
					<input type="text" class="form-control js-decimal" id="oddAposta" th:field="*{odd}" readonly>
				</div>
			</div>
	
			<!-- TABELA QUE CORRESPONDE A APOSTA-->
	
			<div class="text-left">
				<h3><strong>Bilhete</strong></h3>
			</div>
	
			<div class="row">
				 <div class="col-md-12">
				 	<div class="table-responsive">
						<table class="table table-striped table-hover js-table">
							<thead>
								<tr>
									<td>Cód. Mandante</td>
									<td>Mandante</td>
									<td>Cód. Visitante</td>
									<td>Visitante</td>
									<td>Sugestão</td>
									<td>Odd</td>
								</tr>
							</thead>
							
							<tbody>
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
	
			<div class="row mb-40">
				<div class="col-md-6 col-md-offset-3">
					<div class="row text-center">
						<button type="submit" class="btn btn-primary" id="cadastrar-aposta">Cadastrar aposta</button>
					</div>
				</div>
			</div>
			
		</form>
		
	</div>

 
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/aposta.adicionar-jogo-tabela.js}"></script>
		<script th:src="@{/javascripts/aposta.carregar-equipes-por-pais.js}"></script> 
		<script th:src="@{/javascripts/mascaras.js}"></script>
	</th:block>
	 
</body>
</html>
